{% extends 'base.html' %}
{% block body %}

<br><br>
<h3>Liberarian functionalities: </h3>


<div style="padding: 20px;">
    <div class="d-grid gap-2">
        <a href="/displaysection" class="btn btn-danger btn-sm">Section/Book Management</a>
        <a href="/displayrequest" class="btn btn-danger btn-sm">Requests Management</a>
        <a href="/displayusermanagement" class="btn btn-danger btn-sm">User/Issued Books Management</a>
        <a href="/stat" class="btn btn-danger btn-sm">Stats</a>
    </div>
    <br>
</div>




{% endblock body %}